.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  justify-content: flex-start;
  gap: 0.5rem; /* зменшений відступ */
}
